@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-color: #374151;
  /* #c4b004e5; */
  --secondary-color: #fbbf24;
  --grey-color: grey;
  --off-white: #f3f5f7;
}

body {
  font-family: "Montserrat", sans-serif;
}

hr {
  margin: 2rem 0rem;
}
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.link {
  text-decoration: none;
  padding: 0.5rem 2rem;
}

.link.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
}

.link.link-primary:hover {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
  color: white;
}

.link.link-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.list-item-inline.link {
  color: white;
}

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.nav-brand {
  font-weight: bold;
}

.list-non-bullet.nav-pills {
  text-align: right;
}

.link.link-active {
  font-weight: bold;
}

.hero {
  padding: 2rem;
}

.hero-img {
  max-width: 350px;
  display: block;
  margin: auto;
}
.hero-heading {
  padding-top: 1rem;
  color: var(--grey-color);
  text-align: center;
  position: relative;
  top: 18px;
  left: 10px;
}

.heading-inverted {
  color: var(--primary-color);
}

.section {
  padding: 2rem;
}

.section h1 {
  text-align: center;
}

.section.ow {
  background-color: var(--off-white);
}

.footer {
  background-color: var(--primary-color);
  padding: 2rem 0rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer ul {
  padding-inline-start: 0px;
}

.link {
  color: white;
}

#welcome {
  color: #fbbf24;
}

p {
  font-size: large;
  padding: 0.5rem;
}

.social-img,
a,
li {
  width: 40px;
  padding: 0.2rem;
}

.blog-box {
  border: 1px solid var(--secondary-color);
  padding: 100px;
  border-radius: 10px;
}

.blog-page {
  text-align: justify;
}
